<%- include ../../partials/header.ejs%>
<%- include ../../partials/navbar.ejs%>

<div class="container">
    <div class="d-flex justify-content-center mt-sm-2">
        <h1 class="h2">Edit User</h1>
    </div>
    
    <div class="col-sm-6 offset-3">
        <form method="POST" action="/users/edit/<%=user._id%>?_method=PUT" class="mb-sm-5">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control " id="name"  name="name" value="<%= user.name%>" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email"  name="email" value="<%= user.email%>" required >
              
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password"  name="password" required>
            </div>

            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select class="form-select" name="role" id="role">
                  <option value="user"
                  <% if(user.role == 'user') { %>
                    selected
                    <% } %>
                  >User</option>  
                  <option value="management" <% if(user.role == 'management') { %>
                    selected
                    <% } %>>Management</option>  
                  <option value="admin"<% if(user.role == 'admin') { %>
                    selected
                    <% } %>>Admin</option>  
              </select>
            </div>
    
    
            <button type="submit" class="btn btn-primary">Edit User</button>
        </form>
    </div>
    
</div>


<%- include ../../partials/footer.ejs%>