<%- include ../../partials/header.ejs%>
<%- include ../../partials/navbar.ejs%>

<div class="container">
    <h1 class="text-center">Request</h1>
    <%- include ../../partials/message.ejs %>
    <%if(session.role == "admin" || session.role == "user"){ %>
      <a href="/request/create" class="btn btn-primary">Add Request</a>
    <%}else{%>
      <div></div>
    <%}%>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-striped ">
                <thead>
                  <tr>
                    <th >#</th>
                    <th >Requester</th>
                    <th >Requester Facility</th>
                    <th >Date</th>
                    <th >Start time</th>
                    <th >End time</th>
                    <th >Status</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i<request2.length; i++){%>
                      <tr>
                        <th><%= i+1%></th>
                        <td><%= request2[i].user%></td>
                        <td><%= request2[i].facility?.name%></td>
                        <td><%= request2[i].date%></td>
                        <td><%= request2[i].start_time%></td>
                        <td><%= request2[i].end_time%></td>
                        <td><%= request2[i].status%></td>
                      </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include ../../partials/footer.ejs%>