<%- include ../../partials/header.ejs%>
<%- include ../../partials/navbar.ejs%>

<div class="container">
    <h1 class="text-center">Edit Facility</h1>

   <div class="row justify-content-center">
       <div class="col-sm-10 ">
           <form method="POST" action="/facility/edit/<%=facility._id%>?_method=PUT" class="mb-sm-5" enctype="multipart/form-data">
               
               <div class="mb-3">
                 <label for="name" class="form-label">Name</label>
                 <input type="text" class="form-control " id="name"  name="name" required value="<%=facility.name%>">
               </div>

               <div class="mb-3">
                <label for="thumbnail">Facility Image</label>
                <input type="file" class="form-control" id="thumbnail" name="thumbnail" value="<%=facility.thumbnail%>">
                <br/>
                <img src="/uploads/<%= facility.thumbnail %>" id="preview">
            </div>
         
               <div class="mb-3">
                   <label for="body" class="form-label">Body</label>
                   <input id="body" type="hidden" name="body" value="<%- facility.body%>">
                   <trix-editor input="body"name="body"></trix-editor>
               </div>
       
       
               <button type="submit" class="btn btn-primary">Edit Facility</button>
           </form>
       </div>
   </div>
   
</div>

<script>
   document.addEventListener('trix-file-accept',function(e){
   e.preventDefault();
 })

 function readURL(input){
        if(input.files && input.files[0]){
            const reader = new FileReader();

            reader.onload = function(e){
                $('#preview').attr('src',e.target.result)
                $('#preview').attr('width','20%')
                $('#preview').attr('height','20%')
            }
            reader.readAsDataURL(input.files[0])
        }
    }
    $('#thumbnail').change(function(){
        readURL(this);
    })

</script>


<%- include ../../partials/footer.ejs%>